body {
  font-family: Arial;
  background: #f4f4f4;
  text-align: center;
}

.post {
  background: white;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
}

.dark {
  background: #121212;
  color: white;
}

.dark .post {
  background: #1e1e1e;
}
